/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
body:not(.dark) .hljs-comment,
body:not(.dark) .hljs-quote {
  color: #8e908c;
}

/* Tomorrow Red */
body:not(.dark) .hljs-variable,
body:not(.dark) .hljs-template-variable,
body:not(.dark) .hljs-tag,
body:not(.dark) .hljs-name,
body:not(.dark) .hljs-selector-id,
body:not(.dark) .hljs-selector-class,
body:not(.dark) .hljs-regexp,
body:not(.dark) .hljs-deletion {
  color: #c82829;
}

/* Tomorrow Orange */
body:not(.dark) .hljs-number,
body:not(.dark) .hljs-built_in,
body:not(.dark) .hljs-builtin-name,
body:not(.dark) .hljs-literal,
body:not(.dark) .hljs-type,
body:not(.dark) .hljs-params,
body:not(.dark) .hljs-meta,
body:not(.dark) .hljs-link {
  color: #f5871f;
}

/* Tomorrow Yellow */
body:not(.dark) .hljs-attribute {
  color: #eab700;
}

/* Tomorrow Green */
body:not(.dark) .hljs-string,
body:not(.dark) .hljs-symbol,
body:not(.dark) .hljs-bullet,
body:not(.dark) .hljs-addition {
  color: #718c00;
}

/* Tomorrow Blue */
body:not(.dark) .hljs-title,
body:not(.dark) .hljs-section {
  color: #4271ae;
}

/* Tomorrow Purple */
body:not(.dark) .hljs-keyword,
body:not(.dark) .hljs-selector-tag {
  color: #8959a8;
}

body:not(.dark) .hljs {
  display: block;
  overflow-x: auto;
  /*background: white;*/
  color: #4d4d4c;
  padding: 0.5em;
}

body:not(.dark) .hljs-emphasis {
  font-style: italic;
}

body:not(.dark) .hljs-strong {
  font-weight: bold;
}
